<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Maps>
		<Row
			File="{swooper-maps}/maps/swooper-desert-mountains.js"
			Name="LOC_MAP_SWOOPER_DESERT_MOUNTAINS_NAME"
			Description="LOC_MAP_SWOOPER_DESERT_MOUNTAINS_DESCRIPTION"
			SortIndex="500"
		/>
		<Row
			File="{swooper-maps}/maps/swooper-earthlike.js"
			Name="LOC_MAP_SWOOPER_EARTHLIKE_NAME"
			Description="LOC_MAP_SWOOPER_EARTHLIKE_DESCRIPTION"
			SortIndex="501"
		/>
		<Row
			File="{swooper-maps}/maps/shattered-ring.js"
			Name="LOC_MAP_SHATTERED_RING_NAME"
			Description="LOC_MAP_SHATTERED_RING_DESCRIPTION"
			SortIndex="502"
		/>
		<Row
			File="{swooper-maps}/maps/sundered-archipelago.js"
			Name="LOC_MAP_SUNDERED_ARCHIPELAGO_NAME"
			Description="LOC_MAP_SUNDERED_ARCHIPELAGO_DESCRIPTION"
			SortIndex="503"
		/>
		<Row
			File="{swooper-maps}/maps/mountains-of-time-earthlike.js"
			Name="LOC_MAP_MOUNTAINS_OF_TIME_EARTHLIKE_NAME"
			Description="LOC_MAP_MOUNTAINS_OF_TIME_EARTHLIKE_DESCRIPTION"
			SortIndex="900"
		/>
		<Row
			File="{swooper-maps}/maps/latest-juicy.js"
			Name="LOC_MAP_LATEST_JUICY_NAME"
			Description="LOC_MAP_LATEST_JUICY_DESCRIPTION"
			SortIndex="1900"
		/>
		<Row
			File="{swooper-maps}/maps/mountain-patch.js"
			Name="LOC_MAP_MOUNTAIN_PATCH_NAME"
			Description="LOC_MAP_MOUNTAIN_PATCH_DESCRIPTION"
			SortIndex="1900"
		/>
		<Row
			File="{swooper-maps}/maps/mountains-of-time-original.js"
			Name="LOC_MAP_MOUNTAINS_OF_TIME_ORIGINAL_NAME"
			Description="LOC_MAP_MOUNTAINS_OF_TIME_ORIGINAL_DESCRIPTION"
			SortIndex="1900"
		/>
		<Row
			File="{swooper-maps}/maps/mountain-rivers-patch.js"
			Name="LOC_MAP_MOUNTAIN_RIVERS_PATCH_NAME"
			Description="LOC_MAP_MOUNTAIN_RIVERS_PATCH_DESCRIPTION"
			SortIndex="1901"
		/>
	</Maps>
</Database>
